<%= form_for :session, url: session_path, html: { class: "mt-8" } do |form| %>

  <fieldset>
    <%= form.label :email, class: "block text-sm font-medium leading-5 text-gray-700" %>
    <div class="mt-1 relative rounded-md shadow-sm">
      <%= form.text_field :email, type: "email", class: "form-input block w-full sm:text-sm sm:leading-5", placeholder: "ringo@thebeatles.com" %>
    </div>
  </fieldset>

  <fieldset class="mt-4">
    <%= form.label :password, class: "block text-sm font-medium leading-5 text-gray-700" %>
    <div class="mt-1 relative rounded-md shadow-sm">
      <%= form.password_field :password, type: "password", class: "form-input block w-full sm:text-sm sm:leading-5" %>
    </div>
  </fieldset>

  <fieldset class="inline-flex rounded-md shadow-sm mt-2">
    <%= button_tag "Sign in", type: "submit", class: "inline-flex items-center px-4 py-2 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition ease-in-out duration-150" %>
  </fieldset>
<% end %>
