<footer class="text-center">
	<section class="max-w-5xl px-4 mx-auto mt-16 mb-4">
		<p class="credits">
			Look, It's a New Spark Website!
		</p>

		<p class="copyright text-xs">
			<%= link_to "https://github.com/mcalilly/spark/blob/master/MIT-LICENSE" do %>
				&copy; <%= Time.zone.now.year %>. <%= site_title %>.
			<% end %>
		</p>
	</section>

	<%= render "layouts/shared/social_links" %>

	<% if current_user %>
    <section class="login-links max-w-5xl px-4 mx-auto mt-8">
      <p>
        Signed in as <%= current_user.email %>. <%= link_to "Log out", log_out_path, method: :delete %>

				<% if current_user.admin? %>
					<span>User role: Admin</span>
				<% else %>
					<span>User role: Guest</span>
				<% end %>
      </p>
    </section>
  <% end %>
</footer>
