<footer class="text-center pb-8">
	<div class="max-w-5xl px-4 mx-auto mt-16 mb-4">
		<p class="credits">
			Look, It's a New Spark Website!
		</p>

		<p class="copyright text-xs">
			<%= link_to "https://github.com/mcalilly/spark/blob/master/MIT-LICENSE" do %>
				&copy; <%= Time.zone.now.year %>. <%= site_title %>.
			<% end %>
		</p>
	</div>


	<div class="max-w-5xl px-4 mx-auto">
		<%= render "layouts/shared/social_links" %>
	</div>

	<% if current_user %>
		<div class="login-links text-xs max-w-5xl px-4 mx-auto mt-8 mb-4">
			<p>
			  Signed in as <%= current_user.email %>.

				<% if current_user.admin? %>
					<span>User role: Admin</span>
				<% else %>
					<span>User role: Member</span>
				<% end %>
				<br>
				<%= link_to "Log out", log_out_path, method: :delete, class: "text-indigo-600" %>
			</p>
		</div>
  <% end %>
</footer>
