<header class="relative bg-white shadow z-50">
  <div class="container max-w-7xl mx-auto px-4 sm:px-6">
    <div class="flex justify-between items-center py-6 md:justify-start md:space-x-10">
      <div class="branding flex justify-start lg:w-0 lg:flex-1">
        <%= link_to root_path do %>
          <% if site_logo.attached? %>
            <%= image_tag site_logo.variant(resize_to_fit: [80, 80]), class: "mt-2", alt: "featured image preview", loading: "lazy" %>
          <% else %>
            <%= site_title %>
          <% end %>
        <% end %>
      </div>
      <div class="-mr-2 -my-2 md:hidden">
        <button
          @click="isMobileNavOpen = true"
          x-state:on="Item active"
          x-state:off="Item inactive"
          type="button"
          class="bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500" aria-expanded="false">
          <span class="sr-only">Open menu</span>
          <!-- Heroicon name: outline/menu -->
          <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
        </button>
      </div>

      <%= render "layouts/shared/main_nav" %>
    </div>
  </div>

  <%= render "layouts/shared/mobile_nav" %>
</header>
