<!--
  Mobile menu, show/hide based on mobile menu state.

  Entering: "duration-200 ease-out"
    From: "opacity-0 scale-95"
    To: "opacity-100 scale-100"
  Leaving: "duration-100 ease-in"
    From: "opacity-100 scale-100"
    To: "opacity-0 scale-95"
-->
<div
  x-description="'Mobile' flyout menu, show/hide based on flyout menu state."
  x-show="isMobileNavOpen"
  @click.away="isMobileNavOpen = false"
  x-transition:enter="transition ease-out duration-200"
  x-transition:enter-start="opacity-0 -translate-y-1"
  x-transition:enter-end="opacity-100 translate-y-0"
  x-transition:leave="transition ease-in duration-150"
  x-transition:leave-start="opacity-100 translate-y-0"
  x-transition:leave-end="opacity-0 -translate-y-1"
  class="mobile-nav absolute z-30 top-0 inset-x-0 p-2 transition transform origin-top-right md:hidden">
  <div class="rounded-lg shadow-lg ring-1 ring-black ring-opacity-5 bg-white divide-y-2 divide-gray-50">
    <div class="pt-5 pb-6 px-5">
      <div class="flex items-center justify-between">
        <div>
          <%= link_to root_path do %>
            <% if site_logo.attached? %>
              <%= image_tag site_logo.variant(resize_to_fit: [80, 80]), class: "h-16 w-auto", alt: "featured image preview", loading: "lazy" %>
            <% else %>
              <%= site_title %>
            <% end %>
          <% end %>
        </div>
        <div class="-mr-2">
          <button
            @click.prevent="isMobileNavOpen = !isMobileNavOpen"
            x-state:on="Item active"
            x-state:off="Item inactive"
            type="button"
            class="bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500">
            <span class="sr-only">Close menu</span>
            <!-- Heroicon name: outline/x -->
            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
      </div>
      <div class="mt-6">
        <nav class="grid gap-y-8">
          <%= link_to about_path, class: "-m-3 p-3 flex items-center rounded-md hover:bg-gray-50" do %>
            <!-- Heroicon name: book-open -->
            <svg class="flex-shrink-0 h-6 w-6 text-indigo-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253" />
            </svg>
            <span class="ml-3 text-base font-medium text-gray-900">
              About
            </span>
          <% end %>

          <%= link_to contact_path, class: "-m-3 p-3 flex items-center rounded-md hover:bg-gray-50" do %>
            <!-- Heroicon name: at-symbol -->
            <svg class="flex-shrink-0 h-6 w-6 text-indigo-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207" />
            </svg>
            <span class="ml-3 text-base font-medium text-gray-900">
              Contact
            </span>
          <% end %>

          <a href="#" class="-m-3 p-3 flex items-center rounded-md hover:bg-gray-50">
            <!-- Heroicon name: outline/shield-check -->
            <svg class="flex-shrink-0 h-6 w-6 text-indigo-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m5.618-4.016A11.955 11.955 0 0112 2.944a11.955 11.955 0 01-8.618 3.04A12.02 12.02 0 003 9c0 5.591 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.042-.133-2.052-.382-3.016z" />
            </svg>
            <span class="ml-3 text-base font-medium text-gray-900">
              Another Primary Page
            </span>
          </a>

          <a href="#" class="-m-3 p-3 flex items-center rounded-md hover:bg-gray-50">
            <!-- Heroicon name: outline/view-grid -->
            <svg class="flex-shrink-0 h-6 w-6 text-indigo-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2V6zM14 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V6zM4 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2v-2zM14 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z" />
            </svg>
            <span class="ml-3 text-base font-medium text-gray-900">
              Yet Another Primary Page
            </span>
          </a>

          <a href="#" class="-m-3 p-3 flex items-center rounded-md hover:bg-gray-50">
            <!-- Heroicon name: outline/refresh -->
            <svg class="flex-shrink-0 h-6 w-6 text-indigo-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15" />
            </svg>
            <span class="ml-3 text-base font-medium text-gray-900">
              And Another Primary Page
            </span>
          </a>
        </nav>
      </div>
    </div>
    <div class="py-6 px-5 space-y-6">
      <div class="grid grid-cols-2 gap-y-4 gap-x-8">
        <a href="#" class="text-base font-medium text-gray-900 hover:text-gray-700">
          Tertiary Page One
        </a>

        <a href="#" class="text-base font-medium text-gray-900 hover:text-gray-700">
          Tertiary Page Two
        </a>

        <a href="#" class="text-base font-medium text-gray-900 hover:text-gray-700">
          Tertiary Page Three
        </a>

        <a href="#" class="text-base font-medium text-gray-900 hover:text-gray-700">
          Tertiary Page Four
        </a>

        <a href="#" class="text-base font-medium text-gray-900 hover:text-gray-700">
          Tertiary Page Five
        </a>

        <a href="#" class="text-base font-medium text-gray-900 hover:text-gray-700">
          Tertiary Page Six
        </a>
      </div>
      <div>
        <a href="#" class="w-full flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-indigo-600 hover:bg-indigo-700">
          Call to action
        </a>
        <p class="mt-6 text-center text-base font-medium text-gray-500">
          Asking a question?
          <a href="#" class="text-indigo-600 hover:text-indigo-500">
            Answer with action
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
