<header x-data="{ mobileMenuOpen: false }"
        class="max-w-5xl mx-auto px-4">
  <div class="w-full flex items-center justify-between mt-8">
    <div class="branding md:justify-start">
      <%= link_to root_path do %>
        <%= image_tag "logo.svg", class: "h-8 w-auto sm:h-10", alt: "Example logo from TailwindUI" %>
      <% end %>
    </div>

    <nav class="main-nav hidden md:flex items-center">
      <%= link_to root_path, class: "mx-6 #{'underline' if current_page?(root_path)}" do %>
        <%= site_title %>
      <% end %>
      <%= link_to about_path, class: "mx-6 #{'underline' if current_page?(about_path)}" do %>
        About
      <% end %>
      <%= link_to contact_path, class: "mx-6 #{'underline' if current_page?(contact_path)}" do %>
        Contact
      <% end %>
    </nav>

    <nav class="utility-nav hidden md:flex items-center space-x-8">
      <% if signed_in? %>
        <%= link_to "Sign out", sign_out_path, method: :delete, class: "whitespace-no-wrap text-base leading-6 font-medium text-gray-500 hover:text-gray-900 focus:outline-none focus:text-gray-900" %>
      <% else %>
        <%= link_to "Sign in", sign_in_path, class: "whitespace-no-wrap text-base leading-6 font-medium text-gray-500 hover:text-gray-900 focus:outline-none focus:text-gray-900" %>

        <span class="inline-flex rounded-md shadow-sm">
          <%= link_to "Sign up", sign_up_path, class: "whitespace-no-wrap inline-flex items-center justify-center px-4 py-2 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition ease-in-out duration-150" %>
        </span>
      <% end %>
    </nav>

    <div class="mobile-nav md:hidden items-center">
      <button
        @click="mobileMenuOpen = !mobileMenuOpen;"
        @click.away="mobileMenuOpen = false;"
        x-state:on="Item active"
        x-state:off="Item inactive"
        :class="{ 'text-gray-900': mobileMenuOpen, 'text-gray-500': !mobileMenuOpen }"
        type="button"
        class="float-right p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 focus:text-gray-500 transition duration-150 ease-in-out">
        <!-- Heroicon name: menu -->
        <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
        </svg>
        <span class="sr-only">Menu</span>
      </button>
    </div>
  </div>

  <%= render "shared/nav_mobile" %>
</header>
