<% if current_user && current_user.admin? %>
  <section>
    <% content_for :h1 do %>
      Settings
    <% end %>

    <% if @settings.present? %>
      <div>
        <div>
          <h2 class="text-lg leading-6 font-medium text-gray-900">
            Your Current Settings
          </h2>
          <p class="max-w-2xl text-sm leading-5 text-gray-500">
            This is your default contact info and site meta data.
          </p>
        </div>
        <div class="mt-5 border-t border-gray-200 pt-5">
          <dl>
            <% @settings.limit(1).each do |setting| %>
              <div class="sm:grid sm:grid-cols-3 sm:gap-4">
                <dt class="text-sm leading-5 font-medium text-gray-500">
                  Site name
                </dt>
                <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                  <%= setting.site_title %>
                </dd>
              </div>

              <div class="sm:grid sm:grid-cols-3 sm:gap-4">
                <dt class="text-sm leading-5 font-medium text-gray-500">
                  Site tagline
                </dt>
                <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                  <%= setting.site_tagline %>
                </dd>
              </div>

              <div class="mt-8 sm:grid sm:mt-5 sm:grid-cols-3 sm:gap-4 sm:border-t sm:border-gray-200 sm:pt-5">
                <dt class="text-sm leading-5 font-medium text-gray-500">
                  Site description
                </dt>
                <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                  <%= setting.site_description %>
                </dd>
              </div>
              <div class="mt-8 sm:grid sm:mt-5 sm:grid-cols-3 sm:gap-4 sm:border-t sm:border-gray-200 sm:pt-5">
                <dt class="text-sm leading-5 font-medium text-gray-500">
                  Email address
                </dt>
                <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                  <%= setting.email %>
                </dd>
              </div>

              <div class="mt-8 sm:grid sm:mt-5 sm:grid-cols-3 sm:gap-4 sm:border-t sm:border-gray-200 sm:pt-5">
                <dt class="text-sm leading-5 font-medium text-gray-500">
                  Phone
                </dt>
                <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                  <%= setting.phone %>
                </dd>
              </div>
              <div class="mt-8 sm:grid sm:mt-5 sm:grid-cols-3 sm:gap-4 sm:border-t sm:border-gray-200 sm:pt-5">
                <dt class="text-sm leading-5 font-medium text-gray-500">
                  Facebook handle
                </dt>
                <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                  <%= setting.facebook_handle %>
                </dd>
              </div>
              <div class="mt-8 sm:grid sm:mt-5 sm:grid-cols-3 sm:gap-4 sm:border-t sm:border-gray-200 sm:pt-5">
                <dt class="text-sm leading-5 font-medium text-gray-500">
                  Twitter handle
                </dt>
                <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                  <%= setting.twitter_handle %>
                </dd>
              </div>

              <div class="mt-8 sm:grid sm:mt-5 sm:grid-cols-3 sm:gap-4 sm:border-t sm:border-gray-200 sm:pt-5">
                <dt class="text-sm leading-5 font-medium text-gray-500">
                  Instagram handle
                </dt>
                <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                  <%= setting.instagram_handle %>
                </dd>
              </div>

              <div class="mt-8 sm:grid sm:mt-5 sm:grid-cols-3 sm:gap-4 sm:border-t sm:border-gray-200 sm:pt-5">
                <dt class="text-sm leading-5 font-medium text-gray-500">
                  Address
                </dt>
                <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                  <%= setting.address_line_one %><br />
                  <%= setting.address_line_two %><br />
                  <%= setting.city %>, <%= setting.state_or_province %> <%= setting.postal_code %><br>
                  <%= setting.country %>
                </dd>
              </div>
            <% end %>
          </dl>
        </div>
      </div>

    <% else %>

      <p>
        You need to add your default settings for the site. (Your default page titles, contact email, etc. will be Spark CMS settings until you update your settings.)
      </p>

      <p>
        <%= link_to "Add Settings", new_setting_path %>
      </p>
    <% end %>
  </section>
<% end %>
