<% if current_user && current_user.admin? %>
  <section>
    <h1 class="text-2xl pb-4">
      Settings
    </h1>

    <% if @setting.present? %>
      <div>
        <div class="mt-5">
          <dl>
            <div class="sm:grid sm:grid-cols-3 sm:gap-4">
              <dt class="text-sm leading-5 font-medium text-gray-500">
                Site title
              </dt>
              <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                <%= @setting.site_title %>
              </dd>
            </div>
            <div class="mt-8 sm:grid sm:mt-5 sm:grid-cols-3 sm:gap-4 sm:border-t sm:border-gray-200 sm:pt-5">
              <dt class="text-sm leading-5 font-medium text-gray-500">
                Site tagline
              </dt>
              <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                <%= @setting.site_tagline %>
              </dd>
            </div>
            <div class="mt-8 sm:grid sm:mt-5 sm:grid-cols-3 sm:gap-4 sm:border-t sm:border-gray-200 sm:pt-5">
              <dt class="text-sm leading-5 font-medium text-gray-500">
                Site description
              </dt>
              <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                <%= @setting.site_description %>
              </dd>
            </div>
            <div class="mt-8 sm:grid sm:mt-5 sm:grid-cols-3 sm:gap-4 sm:border-t sm:border-gray-200 sm:pt-5">
              <dt class="text-sm leading-5 font-medium text-gray-500">
                Email address
              </dt>
              <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                <%= @setting.email %>
              </dd>
            </div>
            <div class="mt-8 sm:grid sm:mt-5 sm:grid-cols-3 sm:gap-4 sm:border-t sm:border-gray-200 sm:pt-5">
              <dt class="text-sm leading-5 font-medium text-gray-500">
                Phone
              </dt>
              <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                <%= @setting.phone %>
              </dd>
            </div>
            <div class="mt-8 sm:grid sm:mt-5 sm:grid-cols-3 sm:gap-4 sm:border-t sm:border-gray-200 sm:pt-5">
              <dt class="text-sm leading-5 font-medium text-gray-500">
                Facebook handle
              </dt>
              <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                <%= @setting.facebook_handle %>
              </dd>
            </div>
            <div class="mt-8 sm:grid sm:mt-5 sm:grid-cols-3 sm:gap-4 sm:border-t sm:border-gray-200 sm:pt-5">
              <dt class="text-sm leading-5 font-medium text-gray-500">
                Twitter handle
              </dt>
              <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                <%= @setting.twitter_handle %>
              </dd>
            </div>

            <div class="mt-8 sm:grid sm:mt-5 sm:grid-cols-3 sm:gap-4 sm:border-t sm:border-gray-200 sm:pt-5">
              <dt class="text-sm leading-5 font-medium text-gray-500">
                Instagram handle
              </dt>
              <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                <%= @setting.instagram_handle %>
              </dd>
            </div>

            <div class="mt-8 sm:grid sm:mt-5 sm:grid-cols-3 sm:gap-4 sm:border-t sm:border-gray-200 sm:pt-5">
              <dt class="text-sm leading-5 font-medium text-gray-500">
                Address
              </dt>
              <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                <%= @setting.address_line_one %><br />
                <%= @setting.address_line_two %><br />
                <%= @setting.city %>, <%= @setting.state_or_province %> <%= @setting.postal_code %><br />
                <%= @setting.country %>
              </dd>
            </div>
          </dl>
        </div>
      </div>

      <span class="block shadow-sm rounded-md mt-12 mb-4">
        <%= link_to "Update Settings", edit_setting_path(Setting.last), class: "inline-flex items-center px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:shadow-outline-indigo focus:border-indigo-700 active:bg-indigo-700 transition duration-150 ease-in-out" %>
      </span>
    <% else %>

      <p>
        You need to add your default settings for the site. (Your default page titles, contact email, etc. will be Spark CMS settings until you update your settings.)
      </p>

      <p>
        <%= link_to "Add Settings", new_setting_path %>
      </p>
    <% end %>
  </section>
<% end %>
