<% if current_user && current_user.admin? %>
  <section>
    <h1 class="text-2xl pb-4">
      Settings
    </h1>

    <% if @setting.present? %>
      <div>
        <div class="mt-5">
          <dl>
            <div class="sm:grid sm:grid-cols-3 sm:gap-4">
              <dt class="text-sm leading-5 font-medium text-gray-500">
                Site title
              </dt>
              <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                <%= render "inline_edit", model: @setting, attribute: :site_title do %>
                  <%= @setting.site_title %>
                <% end %>
              </dd>
            </div>
            <div class="mt-8 sm:grid sm:mt-5 sm:grid-cols-3 sm:gap-4 sm:border-t sm:border-gray-200 sm:pt-5">
              <dt class="text-sm leading-5 font-medium text-gray-500">
                Site tagline
              </dt>
              <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                <%= render "inline_edit", model: @setting, attribute: :site_tagline do %>
                  <%= @setting.site_tagline %>
                <% end %>
              </dd>
            </div>
            <div class="mt-8 sm:grid sm:mt-5 sm:grid-cols-3 sm:gap-4 sm:border-t sm:border-gray-200 sm:pt-5">
              <dt class="text-sm leading-5 font-medium text-gray-500">
                Site description
              </dt>
              <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                <%= render "inline_edit", model: @setting, attribute: :site_description do %>
                  <%= @setting.site_description %>
                <% end %>
              </dd>
            </div>

            <div class="mt-8 sm:grid sm:mt-5 sm:grid-cols-3 sm:gap-4 sm:border-t sm:border-gray-200 sm:pt-5">
              <dt class="text-sm leading-5 font-medium text-gray-500">
                Logo
              </dt>

              <dd data-controller="visibility"
                  class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                <% if @setting.logo.attached? %>
                  <%= image_tag @setting.logo.variant(resize_to_fit: [100, 100]), class: "mt-2", alt: "featured image preview", loading: "lazy" %>
                <% else %>
                  No logo added
                <% end %>

                <button data-action="visibility#showTargets"
                   class="block text-xs mt-2 text-indigo-600 hover:text-gray-700 transition ease-in-out duration-150">
                  Update Logo
                </button>

                <div data-visibility-target="hideable" hidden>
                  <%= form_with model: [:admin, @setting], class: "contents" do |form| %>
                    <div class="mt-2 flex items-center">
                      <span class="h-12 w-12 overflow-hidden">
                        <svg class="mx-auto h-12 w-12 text-gray-400" stroke="currentColor" fill="none" viewBox="0 0 48 48">
                          <path d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                      </span>
                      <span class="shadow-sm">
                        <%= form.file_field :logo, direct_upload: true, accept: "image/png,image/gif,image/jpeg,image/jpg", class: "py-2 px-3 border border-gray-300 text-sm leading-4 font-medium text-gray-700 hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-50 active:text-gray-800 transition duration-150 ease-in-out" %>
                      </span>
                    </div>
                    <p class="mt-1 text-xs text-gray-500">
                      PNG, JPG, GIF
                    </p>
                    <div class="actions block text-xs mt-4 text-indigo-600 hover:text-gray-700 transition ease-in-out duration-150">
                      <%= form.button do %>
                        <span class="show-when-enabled">
                          <p class="inline-flex items-center px-2.5 py-1.5 border border-gray-300 shadow-sm text-xs font-medium rounded text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                            Save File
                          </p>
                        </span>
                        <span class="show-when-disabled">Processing...</span>
                      <% end %>
                    </div>
                  <% end %>

                </div>
              </dd>
            </div>

            <div class="mt-8 sm:grid sm:mt-5 sm:grid-cols-3 sm:gap-4 sm:border-t sm:border-gray-200 sm:pt-5">
              <dt class="text-sm leading-5 font-medium text-gray-500">
                Email address
              </dt>
              <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                <%= render "inline_edit", model: @setting, attribute: :email do %>
                  <%= @setting.email %>
                <% end %>
              </dd>
            </div>
            <div class="mt-8 sm:grid sm:mt-5 sm:grid-cols-3 sm:gap-4 sm:border-t sm:border-gray-200 sm:pt-5">
              <dt class="text-sm leading-5 font-medium text-gray-500">
                Phone
              </dt>
              <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                <%= render "inline_edit", model: @setting, attribute: :phone do %>
                  <%= @setting.phone %>
                <% end %>
              </dd>
            </div>
            <div class="mt-8 sm:grid sm:mt-5 sm:grid-cols-3 sm:gap-4 sm:border-t sm:border-gray-200 sm:pt-5">
              <dt class="text-sm leading-5 font-medium text-gray-500">
                Facebook handle
              </dt>
              <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                <%= render "inline_edit", model: @setting, attribute: :facebook_handle do %>
                  <%= @setting.facebook_handle %>
                <% end %>
              </dd>
            </div>
            <div class="mt-8 sm:grid sm:mt-5 sm:grid-cols-3 sm:gap-4 sm:border-t sm:border-gray-200 sm:pt-5">
              <dt class="text-sm leading-5 font-medium text-gray-500">
                Twitter handle
              </dt>
              <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                <%= render "inline_edit", model: @setting, attribute: :twitter_handle do %>
                  <%= @setting.twitter_handle %>
                <% end %>
              </dd>
            </div>

            <div class="mt-8 sm:grid sm:mt-5 sm:grid-cols-3 sm:gap-4 sm:border-t sm:border-gray-200 sm:pt-5">
              <dt class="text-sm leading-5 font-medium text-gray-500">
                Instagram handle
              </dt>
              <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                <%= render "inline_edit", model: @setting, attribute: :instagram_handle do %>
                  <%= @setting.instagram_handle %>
                <% end %>
              </dd>
            </div>

            <div class="mt-8 sm:grid sm:mt-5 sm:grid-cols-3 sm:gap-4 sm:border-t sm:border-gray-200 sm:pt-5">
              <dt class="text-sm leading-5 font-medium text-gray-500">
                Address
              </dt>
              <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                <%= render "inline_edit", model: @setting, attribute: :address_line_one do %>
                  <span class="block text-xs text-gray-500">Street line one</span>
                  <span class="block"><%= @setting.address_line_one %></span>
                <% end %>
                <%= render "inline_edit", model: @setting, attribute: :address_line_two do %>
                  <span class="block text-xs text-gray-500 mt-6">Street line two</span>
                  <span class="block"><%= @setting.address_line_two %></span>
                <% end %>
                <%= render "inline_edit", model: @setting, attribute: :city do %>
                  <span class="block text-xs text-gray-500 mt-6">City</span>
                  <span class="block"><%= @setting.city %></span>
                <% end %>
                <%= render "inline_edit", model: @setting, attribute: :state_or_province do %>
                  <span class="block text-xs text-gray-500 mt-6">State</span>
                  <span class="block"><%= @setting.state_or_province %></span>
                <% end %>
                <%= render "inline_edit", model: @setting, attribute: :postal_code do %>
                  <span class="block text-xs text-gray-500 mt-6">Zip</span>
                  <span class="block"><%= @setting.postal_code %></span>
                <% end %>
                <%= render "inline_edit", model: @setting, attribute: :country do %>
                  <span class="block text-xs text-gray-500 mt-6">Country</span>
                  <span class="block"><%= @setting.country %></span>
                <% end %>
              </dd>
            </div>
          </dl>
        </div>
      </div>
    <% end %>
  <% else %>

    <p>
      You need to add your default settings for the site. (Your default page titles, contact email, etc. will be Spark CMS settings until you update your settings.)
    </p>

    <p>
      <%= link_to "Add Settings", new_admin_setting_path %>
    </p>
  </section>
<% end %>
