<div class="py-12 lg:py-16">
  <h1 class="text-4xl lg:text-5xl xl:text-6xl px-4 lg:px-0">
    In the News
  </h1>
</div>

<p>
  To do:
</p>
<ol>
  <li>
    default scope order by publication_date (add test for this)
  </li>
  <li>
    gather latest video
  </li>
  <li>
    gather videos offset by latest
  </li>
  <li>
    gather non video articles
  </li>
</ol>

<section class="block w-full pt-8 pb-8 lg:pt-16 lg:pb-28">
  video
</section>

<section class="block w-full pt-8 pb-8 lg:pt-16 lg:pb-28">
  non video headlines
</section>

<div class="grid grid-cols-1 grid-rows-1 lg:grid-cols-2 lg:grid-rows-2 gap-8 text-primary-cream">
  <%= link_to "https://www.nydailynews.com/opinion/ny-oped-dems-get-behind-bidens-bills-20210924-e7ujqjd7ofac5p73fkbvwzfluq-story.html", class: "bg-primary-black px-8 py-6 h-52 lg:h-80", target: "_blank" do %>
    <p class="uppercase text-sm font-avenirBold text-primary-greenLight">
      New York Daily News | Sep 24, 2021
    </p>
    <h3 class="font-arnhem text-primary-cream text-3xl lg:text-5xl pt-4 lg:pt-6 max-w-3xl">
      Dems, get behind Biden’s bills
    </h3>
  <% end %>

  <%= link_to "https://www.nytimes.com/2021/07/21/us/politics/a-covid-adviser-to-the-pentagon-max-rose-departs-and-reflects-on-his-role.html", class: "bg-primary-black px-8 py-6 h-52 lg:h-80", target: "_blank" do %>
    <p class="uppercase text-sm font-avenirBold text-primary-greenLight">
      New York Times | Jul 21, 2021
    </p>
    <h3 class="font-arnhem text-primary-cream text-3xl lg:text-5xl pt-4 lg:pt-6 max-w-3xl">
      A Covid adviser to the Pentagon, Max Rose, departs and reflects on his role.
    </h3>
  <% end %>

  <%= link_to "https://www.nytimes.com/2020/02/11/opinion/politics/white-supremacist-terrorism.html", class: "bg-primary-black px-8 py-6 h-52 lg:h-80", target: "_blank" do %>
    <p class="uppercase text-sm font-avenirBold text-primary-greenLight">
      New York Times | Feb 11, 2020
    </p>
    <h3 class="font-arnhem text-primary-cream text-3xl lg:text-5xl pt-4 lg:pt-6 max-w-3xl">
      We Once Fought Jihadists. Now We Battle White Supremacists.
    </h3>
  <% end %>

  <%= link_to "https://www.silive.com/news/2019/05/rep-max-rose-secures-support-for-911-victims-fund-guarantees-house-vote.html", class: "bg-primary-black px-8 py-6 h-52 lg:h-80", target: "_blank" do %>
    <p class="uppercase text-sm font-avenirBold text-primary-greenLight">
      SI Live | May 23, 2019
    </p>
    <h3 class="font-arnhem text-primary-cream text-3xl lg:text-5xl pt-4 lg:pt-6 max-w-3xl">
      Rep. Max Rose secures support for 9/11 victims’ fund
    </h3>
  <% end %>

  <%= link_to "https://www.silive.com/news/2019/05/rep-max-rose-secures-support-for-911-victims-fund-guarantees-house-vote.html", class: "bg-primary-black px-8 py-6 h-52 lg:h-80", target: "_blank" do %>
    <p class="uppercase text-sm font-avenirBold text-primary-greenLight">
      New York Times | Jan 3, 2019
    </p>
    <h3 class="font-arnhem text-primary-cream text-3xl lg:text-5xl pt-4 lg:pt-6 max-w-3xl">
      Congressman Max Rose Deploys With National Guard for Coronavirus Relief
    </h3>
  <% end %>
</div>
