<div class="py-12 lg:py-16">
  <h1 class="text-4xl lg:text-5xl xl:text-6xl px-4 lg:px-0">
    In the News
  </h1>
</div>

<section class="block w-full pt-8 pb-8 lg:pt-16 lg:pb-28">
  <div>
    <p class="uppercase text-sm font-avenirBold text-primary-greenLight px-4 lg:px-0 pt-4">
      <%= @featured_video.publication %> | <%= @featured_video.publication_date %>
    </p>
    <% if @featured_video.headline %>
      <h3 class="font-arnhem text-primary-cream text-3xl lg:text-5xl pt-4 lg:pt-6 max-w-3xl px-4 lg:px-0">
        <%= @featured_video.headline %>
      </h3>
    <% end %>
  </div>
  Featured video
  <iframe class="w-full block md:hidden mx-auto" width="560" height="315" src="https://www.youtube.com/embed/<%= @featured_video.youtube_id %>?controls=0&modestbranding=1&rel=0&showinfo=0" frameborder="0"></iframe>
  <iframe class="w-full hidden md:block lg:hidden mx-auto" width="854" height="480" src="https://www.youtube.com/embed/<%= @featured_video.youtube_id %>?controls=0&modestbranding=1&rel=0&showinfo=0" frameborder="0"></iframe>
  <iframe class="w-full hidden lg:block mx-auto" width="1188" height="668" src="https://www.youtube.com/embed/<%= @featured_video.youtube_id %>?controls=0&modestbranding=1&rel=0&showinfo=0" frameborder="0"></iframe>
</section>

<section class="block w-full pt-8 pb-8 lg:pt-16 lg:pb-28">
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-x-8">
    <% @videos.each do |video| %>
      <div class="border-t border-b border-primary-black">
        <div class="grid grid grid-cols-2 lg:grid-cols-1 gap-x-8 py-8 lg:py-0">
          <div>
            <p class="w-full uppercase text-sm font-avenirBold text-primary-greenLight lg:px-8 lg:py-8">
              <%= video.publication %> | <%= video.publication_date %>
            </p>
          </div>

          <div class="pl-8 lg:pr-24 lg:pb-8">
            <iframe class="w-full mx-auto block md:hidden" width="316" height="178" src="https://www.youtube.com/embed/<%= video.youtube_id %>?controls=0&modestbranding=1&rel=0&showinfo=0" frameborder="0"></iframe>
            <iframe class="w-full mx-auto hidden md:block lg:hidden" width="440" height="238" src="https://www.youtube.com/embed/<%= video.youtube_id %>?controls=0&modestbranding=1&rel=0&showinfo=0" frameborder="0"></iframe>
            <iframe class="w-full mx-auto hidden lg:block" width="450" height="253" src="https://www.youtube.com/embed/<%= video.youtube_id %>?controls=0&modestbranding=1&rel=0&showinfo=0" frameborder="0"></iframe>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</section>

<section class="block w-full pt-8 pb-8 lg:pt-16 lg:pb-28">
  <div class="grid grid-cols-1 grid-rows-1 lg:grid-cols-2 lg:grid-rows-2 gap-8 text-primary-cream">
    <% @articles.each do |article| %>
      <%= link_to article.url, class: "bg-primary-black px-8 py-6 h-52 lg:h-80", target: "_blank" do %>
        <p class="uppercase text-sm font-avenirBold text-primary-greenLight">
          <%= article.publication %> | <%= article.publication_date %>
        </p>
        <h3 class="font-arnhem text-primary-cream text-3xl lg:text-5xl pt-4 lg:pt-6 max-w-3xl">
          <%= article.headline %>
        </h3>
      <% end %>
    <% end %>
  </div>
</section>
