<% if signed_in? && current_user.admin? %>
  <% content_for :h1 do %>
    <%= @post.title.titleize %>
  <% end %>

  <%= link_to 'Edit', edit_post_path(@post) %> |
  <%= link_to 'Back', posts_path %>
<% end %>

<article class="max-w-md md:max-w-xl">
  <time class="text-sm font-semibold uppercase tracking-wider bg-clip-text text-transparent bg-gradient-to-r from-indigo-700 via-blue-700 to-indigo-800">
    <%= @post.created_at.strftime("%B %Y") %>
  </time>

  <h1 class="mt-2 text-2xl tracking-tight leading-none font-extrabold text-gray-900 sm:text-5xl">
    <%= @post.title.titleize %>
  </h1>

  <% if @post.featured_image.attached? %>
    <%= image_tag @post.featured_image.variant(resize_to_fit: [400, 225]) %>
  <% end %>

  <%= @post.description %>

  <section class="mt-8 text-lg md:text-xl text-gray-800 leading-snug tracking-wide">
    <%= @post.body %>
  </section>
</article>
