<% if signed_in? && current_user.admin? %>
  <% content_for :h1 do %>
    Post Preview
  <% end %>
  <hr>
    <p class="mt-4">
      <%= link_to posts_path, class: "mx-4 text-indigo-600" do %>
        &#8592; All posts
      <% end %>

      <%= link_to "Edit", edit_post_path(@post), class: "inline-flex items-center px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded-md text-indigo-700 bg-indigo-100 hover:bg-indigo-50 focus:outline-none focus:border-indigo-300 focus:shadow-outline-indigo active:bg-indigo-200 transition ease-in-out duration-150" %>

      <span class="inline-flex float-right rounded-md shadow-sm">
        <%= link_to "Delete", @post, class: "inline-flex items-center px-3 py-2 border border-gray-300 text-sm leading-4 font-medium rounded-md text-gray-700 bg-white hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:text-gray-800 active:bg-gray-50 transition ease-in-out duration-150", method: :delete, data: { confirm: "Are you sure?" } %>
      </span>
    </p>
  <hr class="my-4">
<% end %>

<article class="max-w-md md:max-w-xl mx-auto">
  <time class="text-sm font-semibold uppercase tracking-wider bg-clip-text text-transparent bg-gradient-to-r from-indigo-700 via-indigo-500 to-indigo-800">
    <%= @post.created_at.strftime("%B %e, %Y") %>
  </time>

  <h1 class="mt-2 text-2xl tracking-tight leading-none font-extrabold text-gray-900 sm:text-5xl">
    <%= @post.title.titleize %>
  </h1>

  <% if @post.featured_image.attached? %>
    <%= image_tag @post.featured_image.variant(resize_to_fit: [400, 225]) %>
  <% end %>

  <% if @post.description %>
    <p class="text-xl text-gray-500 leading-8 mt-4">
      <%= @post.description %>
    </p>
  <% end %>

  <section class="mx-auto mt-4 prose prose-lg text-gray-500">
    <%= @post.body %>
  </section>
</article>
