<!DOCTYPE html>
<html>
	<%= render "shared/header" %>

	<body>
		<%= render "shared/nav" %>

		<%= render "shared/flash" %>

		<main class="max-w-3xl mx-auto mt-16 mx-4">
			<%= yield %>
		</main>

		<%= render "shared/footer" %>

	</body>
</html>
