<!DOCTYPE html>
<html>

  <%= render "layouts/shared/head" %>

  <body x-data="{ isMobileNavOpen: false }">
    <%= render "layouts/shared/header" %>

    <%= render "layouts/shared/notices" %>

    <main>
      <%= yield %>
    </main>

    <%= render "layouts/shared/footer" %>
  </body>

</html>
