<!DOCTYPE html>
<html>
	<%= render "shared/header" %>

	<body>
		<%= render "shared/nav" %>

		<%= render "shared/flash" %>

		<main class="max-w-2xl px-4 sm:px-0 mx-auto mt-16">
			<%= yield %>
		</main>

		<%= render "shared/footer" %>

	</body>
</html>
