<!DOCTYPE html>
<html>
	<%= render "layouts/shared/html_head" %>

	<body>
		<%= render "layouts/shared/header" %>

		<%= render "layouts/shared/notices" %>

		<main class="container max-w-7xl mx-auto mt-16 px-5 flex">
			<h1 class="mt-2 text-2xl tracking-tight leading-none font-extrabold text-gray-900 sm:text-5xl">
		    <%= yield :h1 %>
		  </h1>
			<%= yield %>
		</main>

		<%= render "layouts/shared/footer" %>

	</body>
</html>
